Source: oswordpress-theme
Section: web
Priority: extra
Maintainer: Jenkins Builder <jenkins@openshine.com>
Build-Depends: cdbs, debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Homepage: http://www.openshine.com

Package: oswordpress-theme
Architecture: all 
Depends: ${shlibs:Depends}, ${misc:Depends}, wordpress 
Description: OpenShine wordpress theme
 Here is the OpenSine wordpress theme
